appdirs==1.4.3
cssselect==1.0.1
cssutils==1.0.2
Django==1.10.6
Jinja2==2.9.5
lxml==3.7.3
MarkupSafe==1.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
premailer==3.0.1
pyparsing==2.2.0
pystache==0.5.4
python-slugify==1.2.1
requests==2.13.0
six==1.10.0
Unidecode==0.4.20
