<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/semantic.min.css" />
    <link rel="stylesheet" href="assets/weekly.css" />

    <title>{{ meta.site_name }}</title>
</head>
<body class="weekly home">
    <div class="sidebar">
        <img alt="{{ meta.site_name }}" class="weekly site title" src="assets/title.svg" />
    </div>
    <div class="content">
    {% for term, issues in issue_list|groupby('term') %}
        <h2 class="weekly term">第 {{ term }} 屆</h2>
        <div class="ui stackable padded four column grid">
        {% for issue in issues %}
            <div class="column">
                <a class="weekly issue card" href="https://ntustudents.org/weekly/issue/{{ issue.id }}">
                {% set image = issue.get_cover_image() %}
                {% if image %}
                    <span class="cover" style="background-image: url('{{ image.url }}');"></span>
                {% else %}
                    <span class="cover without image"></span>
                {% endif %}
                    <span class="id">{{ issue.id }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="footer">
        <a href="https://ntustudents.org"><img alt="{{ meta.vendor_name }}" class="weekly vendor logo" src="assets/logo.png" /></a>
    </div>
</body>
</html>
