{% extends 'layout/citadel.html' %}
{% block scripts %}
{% include 'libraries/jquery.html' %}
{% endblock %}
{% block root_styles %}citadel edit-page{% endblock %}
{% block ui_nav_content %}
    <a class="item" href="{{ url('issues:list') }}">
        <i class="angle left icon"></i>返回列表
    </a>
    <a class="item" href="{{ url('issues:view', issue.id) }}" target="_blank">
        <i class="external icon"></i>預覽
    </a>
    {% if issue.template %}
    <a class="item" href="{{ url('issues:preview', issue.id) }}?email" target="_blank">
        <i class="code icon"></i>原始碼
    </a>
    {% endif %}
{% endblock %}
{% block container_styles %}weekly{% endblock %}
{% block header_styles %}weekly ui{% endblock %}
{% block ui_menu %}{% endblock %}
{% block ui_header %}
    <h1>
        第 {{ issue.id }} 期
        <div class="sub header">
            {{ issue.pub_date }} 發行
        </div>
    </h1>
{% endblock %}
{% block ui_content %}
{% if not issue.editable %}
    <div class="ui message">
        這期電子報已經歸檔，無法編輯。
    </div>
{% endif %}
{% if issue.template %}
{% for column in columns %}
    <h3>{{ column.name }}</h3>
    <div class="ui divided link items">
    {% for article in issue.articles.filter(column=column) %}
        <div class="item" data-item-id="{{ article.id }}">
            <div class="ui tiny image">
                <img src="{{ article.image.url if article.image else static('placeholder.png') }}" />
            </div>
            <div class="content">
                <a class="header" href="{{ article.url }}">{{ article.name }}</a>
                <div class="meta">
                    <span class="provider">{{ article.provider.name }}</span>
                </div>
                <div class="description">{{ article.content }}</div>
            </div>
        </div>
    {% endfor %}
    {% if issue.editable %}
        <div>
            <button class="ui right floated basic button" data-add-to-column="{{ column.id }}">
                <i class="add icon"></i>新增文章
            </button>
            <div class="ui hidden clearing divider"></div>
        </div>
    {% endif %}
    </div>
{% endfor %}
{% elif issue.editable %}
    <div class="ui attached message">
        這期電子報還沒有被歸檔，目前顯示的還是舊系統產生的內容。如果要正確顯示這期電子報，請點選 <strong>[開始編輯]</strong>，並重新上傳該期的文章內容與照片。
    </div>
    <form class="ui attached fluid form segment" style="text-align: center;" action="{{ url('issues:edit', issue.id) }}" method="POST">
        {{ csrf_input }}
        <input type="hidden" name="action" value="overwrite" />
        <button class="ui red button" type="submit">
            <i class="write icon"></i>開始編輯
        </button>
        <div class="ui pointing label">
            注意™：按下 [開始編輯] 後，將會覆蓋原本的舊資料。
        </div>
    </form>
{% endif %}
{% endblock %}
{% block post_content %}
{% if issue.editable %}
    <iframe class="weekly preview" src="{{ url('issues:preview', issue.id) }}"></iframe>
    {% include 'dialogs/create_article.html' %}
    {% include 'dialogs/edit_article.html' %}
{% else %}
    <iframe class="weekly preview" src="{{ url('issues:view', issue.id) }}"></iframe>
{% endif %}
{% endblock %}
