{% extends 'layout/citadel.html' %}
{% block ui_menu_content %}
    <a class="item" href="#">
        <i class="add icon"></i>
        建立新刊
    </a>
    <a class="item" href="{{ url('logout') }}">
        登出
    </a>
{% endblock %}
{% block ui_content %}
    <div class="ui five stackable cards">
    {% for issue in issue_list %}
        <a class="card" href="#">
        {% set image = issue.articles.objects.first.image %}
        {% if image %}
            <div class="image">
                <img alt="第 {{ issue.id }} 期文章" src="{{ image.url }}" />
            </div>
        {% endif %}
            <div class="content">
                <div class="header">第 {{ issue.id }} 期</div>
                <div class="meta">{{ issue.pub_date }}</div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
