{% extends 'layout/citadel.html' %}
{% block scripts %}
{% include 'libraries/jquery.html' %}
{% endblock %}
{% block root_styles %}citadel edit-page{% endblock %}
{% block ui_nav_content %}
    <a class="item" href="{{ url('issues:list') }}">
        <i class="angle left icon"></i>返回列表
    </a>
    <a class="item" href="{{ url('issues:view', issue.id) }}" target="_blank">
        <i class="external icon"></i>預覽
    </a>
    {% if issue.template %}
    <a class="item" href="{{ url('issues:view', issue.id) }}?email" target="_blank">
        <i class="code icon"></i>原始碼
    </a>
    {% endif %}
{% endblock %}
{% block container_styles %}weekly{% endblock %}
{% block header_styles %}weekly ui{% endblock %}
{% block ui_menu %}{% endblock %}
{% block ui_header %}
    <h1>
        第 {{ issue.id }} 期
        <div class="sub header">
            {{ issue.pub_date }} 發行
        </div>
    </h1>
{% endblock %}
{% block ui_content %}
{% if issue.template %}
{% for column in columns %}
    <h3>{{ column.name }}</h3>
    <div class="ui divided link items">
    {% for article in issue.articles.filter(column=column) %}
        <div class="item" data-item-id="{{ article.id }}">
            <div class="ui tiny image">
                <img src="{{ article.image.url if article.image else static('logo.png') }}" />
            </div>
            <div class="content">
                <a class="header" href="{{ article.url }}">{{ article.name }}</a>
                <div class="meta">
                    <span class="provider">{{ article.provider.name }}</span>
                </div>
                <div class="description">{{ article.content }}</div>
            </div>
        </div>
    {% endfor %}
        <div>
            <button class="ui right floated basic button" data-add-to-column="{{ column.id }}">
                <i class="add icon"></i>新增文章
            </button>
            <div class="ui hidden clearing divider"></div>
        </div>
    </div>
{% endfor %}
{% else %}
    <form class="ui fluid form" style="text-align: center;" action="{{ url('issues:edit', issue.id) }}" method="POST">
        {{ csrf_input }}
        <input type="hidden" name="action" value="unlock" />
        <button class="ui red button" type="submit">
            <i class="unlock icon"></i>解除鎖定
        </button>
        <div class="ui pointing label">
            超危險™：按下 [解除鎖定] 後，將會覆蓋原本的舊資料。
        </div>
    </form>
{% endif %}
{% endblock %}
{% block post_content %}
    <iframe class="weekly preview" src="{{ url('issues:view', issue.id) }}"></iframe>
{% include 'dialogs/create_article.html' %}
{% include 'dialogs/edit_article.html' %}
{% endblock %}
