{% extends 'base.html' %}
{% block content %}
    <div class="weekly login">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h1>NTU Student Weekly</h1>
                <form class="ui form" method="POST" action="{{ url('login') }}">
                    <div class="field">
                        <div class="ui left icon input">
                            {{ form.username }}
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            {{ form.password }}
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        {{ csrf_input }}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div class="ui fluid large buttons">
                            <button class="ui positive button" type="submit">登入</button>
                            <div class="or" data-text="或"></div>
                            <button class="ui button" onclick="window.location='{{ meta.site_url }}';">返回</button>
                        </div>
                    </div>
                </form>
                <footer class="weekly quoted footer">
                    © 2016 <a href="{{ meta.site_url }}">{{ meta.site_vendor }}</a><br />
                    <q class="quote">我們貢獻這所大學之精神於宇宙。</q>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
