{% extends 'dialogs/base.html' %}
{% block dialog_id %}create-article-dialog{% endblock %}
{% block dialog_icon %}write{% endblock %}
{% block dialog_title %}新增文章{% endblock %}
{% block dialog_post_url %}{{ url('issues:edit', issue.id) }}{% endblock %}
{% block dialog_form_attrs %}enctype="multipart/form-data"{% endblock %}
{% block dialog_form_content %}
    <div class="field">
        <label>文章標題</label>
        <div class="ui transparent big input">
            <input type="text" name="name" placeholder="標題" />
        </div>
    </div>
    <div class="field">
        <label>文章連結</label>
        <div class="ui transparent big input">
            <input type="url" name="url" placeholder="https://" />
        </div>
    </div>
    <div class="field">
        <label>內文</label>
        <textarea name="content" rows="3"></textarea>
    </div>
    <div class="two fields">
        <div class="field">
            <label>來源</label>
            <select name="provider" class="ui dropdown">
                <<option value="">選擇…</option>
            {% for provider in providers %}
                <option value="{{ provider.id }}">{{ provider.name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="field">
            <label>照片</label>
            <input type="file" name="image" accept="image/*" />
        </div>
    </div>
    {% block dialog_hidden_fields %}
    <input type="hidden" name="issue" value="{{ issue.id }}" />
    <input type="hidden" name="column" id="create-article-column-field" />
    {% endblock %}
{% endblock %}
{% block dialog_action_icon %}add{% endblock %}
{% block dialog_action %}建立{% endblock %}
{% block dialog_scripts %}
<script>
$('button[data-add-to-column]').click(function() {
    $('#create-article-column-field').val($(this).data('add-to-column'));
    $('.ui.dropdown').dropdown();
    $('#create-article-dialog')
    .modal({
        closable: false,
        onApprove: function() {
            $('#create-article-dialog form').submit();
        }
    })
    .modal('show');
});
</script>
{% endblock %}
