<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ static('semantic.min.css') }}" />
    <link rel="stylesheet" href="{{ static('citadel.css') }}" />

    <title>{{ meta.site_name }}</title>
    {% block scripts %}{% endblock %}
</head>
<body class="weekly {% block root_styles %}citadel{% endblock %}">
    {% block content %}{% endblock %}
    <script src="{{ static('semantic.min.js') }}"></script>
</body>
</html>
